.appendix {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: left;
    text-indent: 0
    }
.box {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px
    }
.box1 {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em
    }
.boxn {
    display: block;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.1em
    }
.bullet {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 3.6em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1.6em
    }
.bullet1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5.2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1.6em
    }
.bullet1b {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0sem
    }
.bullet1n {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 1.6em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1.6em
    }
.bullet2n {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 1.75em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.bulletab {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.bulletc {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre2 {
    text-decoration: none
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    font-style: italic;
    line-height: 1.2
    }
.calibre6 {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0;
    width: 100%
    }
.calibre7 {
    display: table-row;
    vertical-align: middle
    }
.calibre8 {
    font-weight: bold
    }
.calibre9 {
    display: block
    }
.calibre10 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre11 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em
    }
.calibre12 {
    font-size: 0.85714em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre13 {
    font-weight: bold;
    line-height: 1.2
    }
.col {
    background-color: #818284;
    border-radius: 10px 10px 0 0;
    color: #d2d3d5;
    line-height: 1.2;
    padding-bottom: 0.1em;
    padding-left: 0.2em;
    padding-right: 2em;
    padding-top: 0.1em
    }
.col1 {
    background-color: #818284;
    border-radius: 10px 10px 0 0;
    color: white;
    line-height: 1.2;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 2em;
    padding-top: 0.1em
    }
.coln {
    background-color: #818284;
    border-radius: 10px 10px 0 0;
    color: #d2d3d5;
    line-height: 1.2;
    padding-bottom: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.5em
    }
.copy {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.copy1a {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.enumerator {
    padding-right: 1em
    }
.enumeratorg {
    color: gray;
    padding-right: 1em
    }
.fcaption {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 2.3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.fmhead {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 1.25em;
    font-weight: normal;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding-bottom: 0;
    page-break-after: avoid;
    page-break-before: always;
    text-align: left;
    text-indent: 0
    }
.fullouty {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 0
    }
.fullouty1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.fulloutyi {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 2.5em;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 0
    }
.fulloutyn {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.fulloutynn {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1.3em;
    text-align: justify;
    text-indent: 0
    }
.fulloutys {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify;
    text-indent: 0
    }
.group {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-inside: avoid
    }
.halftitle {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1.25em;
    font-weight: normal;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    page-break-after: avoid;
    page-break-before: always;
    text-align: left;
    text-indent: 0
    }
.image {
    display: block;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.image1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.image1n {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.list {
    display: block;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    page-break-inside: avoid
    }
.list1 {
    display: block;
    margin-bottom: 0;
    margin-left: 1.8em;
    margin-right: 0;
    margin-top: 0;
    page-break-inside: avoid
    }
.list1n {
    display: block;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    page-break-inside: avoid
    }
.midd {
    height: auto;
    line-height: 1.2;
    vertical-align: middle;
    width: auto
    }
.namegroup {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.noindent {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.noindentn {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify;
    text-indent: 0
    }
.note {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.7em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -0.7em
    }
.numlist {
    display: block;
    margin-bottom: 0;
    margin-left: 1.7em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -1.7em
    }
.numlist1 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 1.75em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1.75em
    }
.numlist1n {
    display: block;
    margin-bottom: 0;
    margin-left: 1.7em;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 0
    }
.sec {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 1em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-bottom: 0.1em;
    padding-top: 0;
    page-break-after: avoid;
    text-align: left;
    text-indent: 0
    }
.sec1 {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1.4em;
    page-break-after: avoid;
    text-align: left;
    text-indent: 0
    }
.sec1l {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-bottom: 0.3em;
    padding-top: 0;
    page-break-after: avoid;
    text-align: left;
    text-decoration: underline;
    text-indent: 0
    }
.subtitle {
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.6em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.sun {
    display: block;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px
    }
.tabheadb {
    display: block;
    font-weight: 180%;
    margin-bottom: 4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    page-break-inside: avoid
    }
.tablebody {
    display: table-cell;
    padding-bottom: 0.3em;
    padding-left: 0;
    padding-right: 0.5em;
    padding-top: 0.3em;
    text-align: left;
    vertical-align: top
    }
.tablebodyb {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    font-weight: bold;
    padding-bottom: 20%;
    padding-left: 0;
    padding-right: 0.5em;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.tablebodybl {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 0;
    padding-right: 0.5em;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.tablebodybn {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 0;
    padding-right: 0.5em;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.tablebodyc {
    background-color: #e7e7e8;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.3em;
    text-align: left;
    vertical-align: top
    }
.tablebodycc {
    background-color: #e7e7e8;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 0.4em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.3em;
    text-align: center;
    vertical-align: top
    }
.tablebodycn {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 0.3em;
    padding-left: 0;
    padding-right: 1em;
    padding-top: 0.3em;
    text-align: center;
    vertical-align: top
    }
.tablebodyl {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 0.3em;
    padding-left: 0;
    padding-right: 0.5em;
    padding-top: 0.3em;
    text-align: left;
    vertical-align: top
    }
.tablebodylr {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 0.3em;
    padding-left: 0;
    padding-right: 0.5em;
    padding-top: 0.3em;
    text-align: left;
    vertical-align: top
    }
.tablecap {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    text-align: left;
    text-indent: 0
    }
.tablecapn {
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    text-align: left;
    text-indent: 0
    }
.textc {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: center;
    text-indent: 0
    }
.textr {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: right;
    text-indent: 0
    }
.title {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1.5em;
    font-weight: normal;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: avoid;
    page-break-before: always;
    text-align: center;
    text-indent: 0
    }
.toc-fb {
    display: block;
    font-size: 1em;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: left;
    text-indent: 0
    }
.toc-t {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 6.8em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: left;
    text-indent: -4.3em
    }
.toc-t1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 6.8em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: left;
    text-indent: -4.8em
    }
.toc-t2 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.top {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.tri {
    background-color: #4d4d4f;
    display: table-cell;
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 9px;
    padding-top: 10px;
    text-align: inherit;
    vertical-align: middle
    }
.tri1 {
    background-color: #bdbec1;
    color: white;
    display: table-cell;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: inherit;
    vertical-align: top
    }
.underline {
    text-decoration: underline
    }
.whit {
    color: white;
    line-height: 1.2
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

