.bla {
    color: black;
    font-size: 1.2em;
    line-height: 1.2
    }
.bullet {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5.6em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre2 {
    text-decoration: none
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    font-style: italic;
    line-height: 1.2
    }
.calibre6 {
    display: table-row;
    vertical-align: middle
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    display: block
    }
.calibre9 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre10 {
    display: table-row;
    vertical-align: inherit
    }
.calibre11 {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0;
    width: 100%
    }
.calibre12 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre13 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em
    }
.center {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.ch_title {
    background-color: #4d4d4f;
    display: table-cell;
    font-size: 1.375em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    vertical-align: middle
    }
.ch_title1 {
    background-color: #c6c7c9;
    display: table-cell;
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.2;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: left;
    text-indent: 0;
    vertical-align: top
    }
.cha {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: left;
    text-indent: 0;
    width: 100%
    }
.chaptitle {
    display: block;
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 3em;
    margin-top: -2.8em;
    text-align: bold;
    text-indent: 0
    }
.colcur {
    background-color: #818284;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    color: white;
    line-height: 1.2;
    padding-bottom: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em
    }
.colcur1 {
    background-color: #818284;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    color: white;
    line-height: 1.2;
    padding-bottom: 0.1em;
    padding-left: 0.3em;
    padding-right: 2em;
    padding-top: 0.3em
    }
.copy {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.copy1t {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.enumerator {
    float: left;
    margin-left: -1.8em;
    width: 1.8em
    }
.fcaption {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-bottom: 0.25em;
    text-align: justify;
    text-indent: 0
    }
.figlabel {
    font-weight: bold
    }
.fmhead {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 1.25em;
    font-weight: normal;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    page-break-after: avoid;
    page-break-before: always;
    text-align: left;
    text-indent: 0
    }
.fmheadn {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 1em;
    font-weight: normal;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    page-break-after: avoid;
    page-break-before: always;
    text-align: left;
    text-indent: 0;
    text-transform: uppercase
    }
.fullouty {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 0
    }
.halftitle {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    page-break-after: avoid;
    page-break-before: always;
    text-align: left;
    text-indent: 0
    }
.image1a {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.img_center {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.list {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-inside: avoid
    }
.none {
    display: table-header-group;
    vertical-align: middle
    }
.norm {
    line-height: 1.2;
    text-transform: none
    }
.note {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.note1 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 0
    }
.numlist {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 3.8em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.numlist1t {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 3.8em;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 0
    }
.other {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 3.5em;
    margin-right: 1.5em;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.prosequote {
    display: block;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 1em;
    page-break-inside: avoid
    }
.prosequote1 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.sec {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.3em;
    padding-bottom: 0.3em;
    page-break-after: avoid;
    text-align: left;
    text-indent: 0
    }
.sec1 {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1.4em;
    page-break-after: avoid;
    text-align: left;
    text-indent: 0
    }
.sec2 {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 2.1em;
    margin-right: 0;
    margin-top: 1.4em;
    page-break-after: avoid;
    text-align: left;
    text-indent: 0
    }
.ser {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.sert {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.subtitle {
    display: block;
    font-size: 0.875em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.table {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    page-break-inside: avoid
    }
.table1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.tablebody {
    display: table-cell;
    font-size: 0.875em;
    line-height: 1.2;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 0.25em;
    text-align: left;
    vertical-align: top
    }
.textr {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.toc {
    float: left;
    margin-left: -6em;
    width: 6em
    }
.toc-fb {
    display: block;
    font-size: 1em;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.toc-fbb {
    display: block;
    font-size: 1em;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 1.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.toc-fbt {
    display: block;
    font-size: 1em;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.25em;
    text-align: left;
    text-indent: 0
    }
.toc-t {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 6em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.topbot {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-spacing: 0;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0;
    width: 100%
    }
.ul {
    text-decoration: underline
    }
.wcaption {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-bottom: 0.25em;
    text-align: justify;
    text-indent: 0
    }
.whi {
    color: white;
    line-height: 1.2
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

