.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: center
    }
.calibre3 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre4 {
    display: block;
    font-size: 1.5em;
    line-height: 115%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: center
    }
.calibre5 {
    font-size: 1em;
    letter-spacing: -1pt
    }
.calibre6 {
    color: #808080;
    font-size: 1em;
    letter-spacing: -1pt
    }
.calibre7 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: center
    }
.calibre8 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%
    }
.calibre9 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: justify
    }
.calibre10 {
    display: block;
    font-size: 1.375em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: center
    }
.calibre11 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre12 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.82%;
    margin-left: 2.71%;
    margin-right: 0%;
    margin-top: 0%
    }
.calibre13 {
    line-height: 1.2
    }
.calibre14 {
    color: #00f;
    font-size: 1em;
    line-height: 1.2;
    text-decoration: underline
    }
.calibre15 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.82%;
    margin-left: 5.42%;
    margin-right: 0%;
    margin-top: 0%
    }
.calibre16 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.82%;
    margin-left: 8.13%;
    margin-right: 0%;
    margin-top: 0%
    }
.calibre17 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.82%;
    margin-left: 10.83%;
    margin-right: 0%;
    margin-top: 0%
    }
.calibre18 {
    display: block;
    page-break-after: always
    }
.calibre19 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3.93%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5.9%;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.calibre20 {
    display: block;
    line-height: 1.2
    }
.calibre21 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.66%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.62%;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.calibre22 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.66%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.62%;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify
    }
.calibre23 {
    font-size: 1em;
    font-style: italic;
    line-height: 1.2
    }
.calibre24 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 64.45%
    }
.calibre25 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre26 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre27 {
    display: table-row;
    vertical-align: inherit
    }
.calibre28 {
    background-color: #f3f3f3;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: top
    }
.calibre29 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    text-align: center;
    widows: 0
    }
.calibre30 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: top
    }
.calibre31 {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.66%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.29%;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify
    }
.calibre32 {
    color: #666;
    font-size: 1em;
    line-height: 1.2
    }
.calibre33 {
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.66%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 1.97%;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify
    }
.calibre34 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    padding-left: 0
    }
.calibre35 {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 8.25%;
    margin-right: 0%;
    margin-top: 0%;
    padding-left: 2.5pt;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.calibre36 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre37 {
    display: block;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: center
    }
.calibre38 {
    background-color: #efefef;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: top
    }
.calibre39 {
    display: block;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    text-align: center;
    widows: 0
    }
.calibre40 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    text-align: justify;
    widows: 0
    }
.calibre41 {
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.66%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 1.97%;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.calibre42 {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.66%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.29%;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.calibre43 {
    color: #f00;
    font-size: 1em;
    line-height: 1.2
    }
.calibre44 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 85.51%
    }
.calibre45 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    widows: 0
    }
.calibre46 {
    background-color: #f3f3f3;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: middle
    }
.calibre47 {
    font-size: 1em;
    letter-spacing: 0.25rem;
    line-height: 1.2
    }
.calibre48 {
    color: #f00;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2
    }
.calibre49 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 23.27%
    }
.calibre50 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 67.78%
    }
.calibre51 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 97.51%
    }
.calibre52 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 97.51%
    }
.calibre53 {
    display: block;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    text-align: justify;
    widows: 0
    }
.calibre54 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 95.11%
    }
.calibre55 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-indent: 0;
    width: 396.3pt
    }
.calibre56 {
    background-color: #f3f3f3;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: top;
    width: 385.3pt
    }
.calibre57 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 89.2%
    }
.calibre58 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: top;
    width: 385.3pt
    }
.calibre59 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 94.93%
    }
.calibre60 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 94.56%
    }
.calibre61 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    page-break-after: avoid;
    text-align: center;
    widows: 0
    }
.calibre62 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    page-break-after: avoid;
    text-align: justify;
    widows: 0
    }
.calibre63 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 94.74%
    }
.calibre64 {
    display: block;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    widows: 0
    }
.calibre65 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 94.19%
    }
.calibre66 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 8.86%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    text-align: justify;
    widows: 0
    }
.calibre67 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 95.3%
    }
.calibre68 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 70%
    }
.calibre69 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 57.44%
    }
.calibre70 {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 5.59%;
    margin-right: 0%;
    margin-top: 0%;
    padding-left: 6.1pt;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.calibre71 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 8.86%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: justify
    }
.calibre72 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 3.55%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    text-align: justify;
    text-indent: -0.98em;
    widows: 0
    }
.calibre73 {
    font-size: 1em;
    line-height: 1.2;
    text-decoration: none
    }
.calibre74 {
    font-family: "Times New Roman";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2
    }
.calibre75 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 3.55%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    text-indent: -0.98em;
    widows: 0
    }
.calibre76 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    page-break-after: avoid;
    text-align: center
    }
.calibre77 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre78 {
    display: table-row;
    height: 16.45pt;
    vertical-align: inherit
    }
.calibre79 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 41%
    }
.calibre80 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 75.17%
    }
.calibre81 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 63.53%
    }
.calibre82 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 48.76%
    }
.calibre83 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 49.13%
    }
.calibre84 {
    background-color: #f3f3f3;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: middle;
    width: 71pt
    }
.calibre85 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: middle;
    width: 71pt
    }
.calibre86 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 8.86%;
    margin-right: 0%;
    margin-top: 0%
    }
.calibre87 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 47.65%
    }
.calibre88 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 89.57%
    }
.calibre89 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: middle
    }
.calibre90 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 70.92%
    }
.calibre91 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 63.72%
    }
.calibre92 {
    display: block;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: justify
    }
.calibre93 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 64.27%
    }
.calibre94 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 48.94%
    }
.calibre95 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 77.01%
    }
.calibre96 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 70.18%
    }
.calibre97 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 73.5%
    }
.calibre98 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 55.22%
    }
.calibre99 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 83.85%
    }
.calibre100 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 88.46%
    }
.calibre101 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 86.62%
    }
.calibre102 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 42.85%
    }
.calibre103 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 48.2%
    }
.calibre104 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 51.9%
    }
.calibre105 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 59.47%
    }
.calibre106 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 71.66%
    }
.calibre107 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 67.04%
    }
.calibre108 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 62.79%
    }
.calibre109 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 50.05%
    }
.calibre110 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 42.11%
    }
.calibre111 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 40.26%
    }
.calibre112 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 46.54%
    }
.calibre113 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 44.69%
    }
.calibre114 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 45.8%
    }
.calibre115 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 45.06%
    }
.calibre116 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 49.86%
    }
.calibre117 {
    display: block;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    page-break-after: avoid;
    text-align: center;
    widows: 0
    }
.calibre118 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 50.79%
    }
.calibre119 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    page-break-after: avoid;
    text-align: justify
    }
.calibre120 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 52.45%
    }
.calibre121 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 53.56%
    }
.calibre122 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 62.42%
    }
.calibre123 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 68.52%
    }
.calibre124 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 57.81%
    }
.calibre125 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 86.8%
    }
.calibre126 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 49.31%
    }
.calibre127 {
    font-size: 0.75em;
    font-style: italic;
    line-height: 1.2;
    vertical-align: super
    }
.calibre128 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 51.53%
    }
.calibre129 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 78.12%
    }
.calibre130 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 49.13%
    }
.calibre131 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 58.54%
    }
.calibre132 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 63.35%
    }
.calibre133 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 69.63%
    }
.calibre134 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 75.35%
    }
.calibre135 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    page-break-after: avoid
    }
.calibre136 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 71.29%
    }
.calibre137 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 43.03%
    }
.calibre138 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 26.96%
    }
.calibre139 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 71.47%
    }
.calibre140 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 68.7%
    }
.calibre141 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 64.27%
    }
.calibre142 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 50.6%
    }
.calibre143 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 50.97%
    }
.calibre144 {
    display: block;
    text-align: center
    }
.calibre145 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-indent: 0;
    width: 396.3pt
    }
.calibre146 {
    background-color: #f3f3f3;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: middle;
    width: 385.3pt
    }
.calibre147 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 45.25%
    }
.calibre148 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 39.52%
    }
.calibre149 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 28.63%
    }
.calibre150 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: justify
    }
.calibre151 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: center
    }
.calibre152 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 41.74%
    }
.calibre153 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 29.92%
    }
.calibre154 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 8.86%;
    margin-right: 0%;
    margin-top: 0%;
    text-indent: -1.6em
    }
.calibre155 {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 8.25%;
    margin-right: 0%;
    margin-top: 0%;
    padding-left: 2.5pt;
    text-decoration: none;
    text-indent: 0
    }
.calibre156 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 70.73%
    }
.calibre157 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 71.29%
    }
.calibre158 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 79.23%
    }
.calibre159 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 79.04%
    }
.calibre160 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 30.1%
    }
.calibre161 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 37.12%
    }
.calibre162 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 58.36%
    }
.calibre163 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 16.36em
    }
.calibre164 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 4.43%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: justify;
    text-indent: -0.98em
    }
.calibre165 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 4.43%;
    margin-right: 0%;
    margin-top: 0%;
    text-indent: -0.98em
    }
.calibre166 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 61.13%
    }
.calibre167 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: middle;
    width: 61.5pt
    }
.calibre168 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: middle;
    width: 313.5pt
    }
.calibre169 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 51.34%
    }
.calibre170 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 49.68%
    }
.calibre171 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 44.88%
    }
.calibre172 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 52.63%
    }
.calibre173 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 54.48%
    }
.calibre174 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 74.61%
    }
.calibre175 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 54.67%
    }
.calibre176 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 73.87%
    }
.calibre177 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 61.31%
    }
.calibre178 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 54.67%
    }
.calibre179 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 93.27%
    }
.calibre180 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 92.16%
    }
.calibre181 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 81.81%
    }
.calibre182 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 67.22%
    }
.calibre183 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    orphans: 0;
    text-align: center;
    widows: 0
    }
.calibre184 {
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre185 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 35.09%
    }
.calibre186 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 34.91%
    }
.calibre187 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 56.14%
    }
.calibre188 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 92.16%
    }
.calibre189 {
    color: #666;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre190 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 57.99%
    }
.calibre191 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 6.7pt;
    padding-left: 6.7pt;
    padding-right: 6.7pt;
    padding-top: 6.7pt;
    text-align: inherit;
    vertical-align: top
    }
.calibre192 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 90.49%
    }
.calibre193 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 41%
    }
.calibre194 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 72.03%
    }
.calibre195 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 67.41%
    }
.calibre196 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 94.56%
    }
.calibre197 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 63.9%
    }
.calibre198 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 85.32%
    }
.calibre199 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 75.35%
    }
.calibre200 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 86.43%
    }
.calibre201 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 87.17%
    }
.calibre202 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 94.19%
    }
.calibre203 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 81.08%
    }
.calibre204 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 86.25%
    }
.calibre205 {
    color: #666;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre206 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 65.19%
    }
.calibre207 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 66.3%
    }
.calibre208 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 79.04%
    }
.calibre209 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 43.4%
    }
.calibre210 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 41.37%
    }
.calibre211 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 46.17%
    }
.calibre212 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 49.68%
    }
.calibre213 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 41.92%
    }
.calibre214 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 71.66%
    }
.calibre215 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 68.33%
    }
.calibre216 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 44.69%
    }
.calibre217 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 38.04%
    }
.calibre218 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 49.5%
    }
.calibre219 {
    font-size: 0.75em
    }
.calibre220 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 64.45%
    }
.calibre221 {
    font-size: 0.75em;
    font-style: italic;
    vertical-align: super
    }
.calibre222 {
    font-size: 0.75em;
    vertical-align: super
    }
.calibre223 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 55.41%
    }
.calibre224 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 91.6%
    }
.calibre225 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 86.25%
    }
.calibre226 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 92.53%
    }
.calibre227 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 96.59%
    }
.calibre228 {
    display: block;
    font-weight: normal;
    margin-bottom: 0.66%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.29%;
    orphans: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 0
    }
.calibre229 {
    color: #666;
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre230 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 68.7%
    }
.calibre231 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-indent: 0;
    width: 396.25pt
    }
.calibre232 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: top;
    width: 121.75pt
    }
.calibre233 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 47.46%
    }
.calibre234 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 76.46%
    }
.calibre235 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    line-height: 1.2;
    width: 86.99%
    }
.calibre236 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 97.7%
    }
.calibre237 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%
    }
.calibre238 {
    display: table-row;
    height: 26.2pt;
    vertical-align: inherit
    }
.calibre239 {
    display: table-row;
    height: 9.95pt;
    vertical-align: inherit
    }
.calibre240 {
    display: table-row;
    height: 21pt;
    vertical-align: inherit
    }
.calibre241 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 136.1pt
    }
.calibre242 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 66.5pt
    }
.calibre243 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 32.87%
    }
.calibre244 {
    display: list-item;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 8.86%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.calibre245 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-indent: 0;
    width: 396.5pt
    }
.calibre246 {
    background-color: #f3f3f3;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: middle;
    width: 385.5pt
    }
.calibre247 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: middle;
    width: 155.4pt
    }
.calibre248 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 230.1pt
    }
.calibre249 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 165.4pt
    }
.calibre250 {
    display: block;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%
    }
.calibre251 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: top;
    width: 187.5pt
    }
.calibre252 {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.calibre253 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: middle;
    width: 188pt
    }
.calibre254 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 197.5pt
    }
.calibre255 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 198pt
    }
.calibre256 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 4.5pt;
    padding-left: 4.5pt;
    padding-right: 4.5pt;
    padding-top: 4.5pt;
    text-align: inherit;
    vertical-align: top;
    width: 385.5pt
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

