@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.author {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1.25em;
    font-style: normal;
    font-weight: normal;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.breaktype {
    display: block;
    page-break-before: always;
    page-break-inside: avoid
    }
.buylink_container {
    display: block;
    margin-top: 0;
    page-break-inside: avoid;
    text-align: left
    }
.calibre {
    display: block
    }
.calibre1 {
    height: 100%;
    width: auto
    }
.calibre2 {
    display: block;
    font-family: serif;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre3 {
    line-height: 1.2
    }
.calibre4 {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
    height: auto;
    width: auto
    }
.calibre7 {
    -webkit-text-fill-color: #369;
    color: #369;
    text-decoration: none
    }
.calibre8 {
    font-style: italic
    }
.calibre9 {
    font-weight: bold
    }
.calibre10 {
    adobe-text-layout: optimizeSpeed;
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre11 {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: list-item;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.5;
    orphans: 2;
    text-align: left;
    widows: 2
    }
.calibre12 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre13 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table;
    margin-bottom: 1em;
    margin-top: 0;
    page-break-inside: avoid;
    text-indent: 0;
    width: 100%
    }
.calibre14 {
    display: table-row;
    vertical-align: middle
    }
.calibre15 {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    background-color: #CCC;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    font-family: sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    hyphens: 0;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    text-align: left;
    vertical-align: top
    }
.calibre16 {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    font-family: sans-serif;
    font-size: 0.875em;
    hyphens: 0;
    line-height: 1.2;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    text-align: left;
    vertical-align: top
    }
.calibre17 {
    display: block;
    page-break-after: always
    }
.calibre18 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    vertical-align: inherit
    }
.caption {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-family: sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-weight: bold;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.5em;
    orphans: 2;
    text-align: center;
    text-indent: 0;
    widows: 2
    }
.chapter {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    page-break-after: avoid;
    page-break-before: always;
    page-break-inside: avoid;
    text-align: center
    }
.copyright {
    display: block;
    font-size: 0.75em;
    margin-top: 4em
    }
.cover_cell {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.cover_cell1 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1em;
    text-align: left;
    vertical-align: inherit
    }
.coverbody {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center
    }
.crt {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.9em;
    orphans: 2;
    text-align: center;
    text-indent: 0;
    widows: 2
    }
.crt1 {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.9em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.cvr_img {
    display: inline-block;
    height: auto;
    text-align: left;
    width: auto
    }
.den {
    font-size: 0.75em;
    line-height: 1.2;
    position: relative;
    vertical-align: -0.1em
    }
.exss {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.figure {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    page-break-inside: avoid
    }
.figure1 {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    orphans: 2;
    text-align: center;
    text-indent: 0;
    widows: 2
    }
.header_series {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-before: always;
    text-align: left
    }
.indent {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: left;
    text-indent: 1em;
    widows: 2
    }
.logo {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    orphans: 2;
    text-align: center;
    text-indent: 0;
    widows: 2
    }
.nonindent {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.num {
    font-size: 1em;
    line-height: 1.2
    }
.num1 {
    font-size: 0.75em;
    line-height: 1.2;
    position: relative;
    vertical-align: 0.5em
    }
.part {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    page-break-after: avoid;
    page-break-before: always;
    page-break-inside: avoid;
    text-align: center
    }
.qa {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
    orphans: 2;
    text-align: right;
    text-indent: 0;
    widows: 2
    }
.qu {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.sec {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-family: sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    page-break-after: avoid;
    page-break-before: always;
    page-break-inside: avoid
    }
.sec1 {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.9em;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.sec2 {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.sec3 {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-family: sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.section {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    page-break-inside: avoid;
    text-indent: 0;
    width: 80%
    }
.side {
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #ccc;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #ccc;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-bottom: 2em;
    margin-top: 2em;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    page-break-inside: avoid
    }
.side1 {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.side2 {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.side3 {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: left;
    text-indent: 1em;
    widows: 2
    }
.signup-bottom {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    display: block;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.49em;
    margin-right: 0.49em;
    margin-top: 0;
    padding-bottom: 0.49em;
    padding-left: 0.49em;
    padding-right: 0.49em;
    padding-top: 1.2em
    }
.signup-clickhere {
    display: block;
    font-family: sans-serif;
    font-size: 1.42857em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.25em;
    text-align: center
    }
.signup-head {
    border-bottom-color: #bfbfbf;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: block;
    font-family: sans-serif;
    font-size: 1.28571em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.6em;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 0.2em;
    padding-bottom: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: center
    }
.signup-middle {
    border-bottom-color: #bc1a1f;
    border-bottom-style: solid;
    border-bottom-width: 15px;
    border-left-color: #bc1a1f;
    border-left-style: solid;
    border-left-width: 15px;
    border-right-color: #bc1a1f;
    border-right-style: solid;
    border-right-width: 15px;
    border-top-color: #bc1a1f;
    border-top-style: solid;
    border-top-width: 15px;
    display: block;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em
    }
.signup-textbottom {
    display: block;
    font-family: sans-serif;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.signup-texttop {
    display: block;
    font-family: sans-serif;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.signup-top {
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    display: block;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.49em;
    margin-right: 0.49em;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.49em;
    padding-right: 0.49em;
    padding-top: 0.49em
    }
.small {
    font-size: 0.75em
    }
.ssb {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 1.2em;
    margin-right: 0;
    margin-top: 1em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.title {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    page-break-after: avoid;
    page-break-before: always;
    page-break-inside: avoid;
    text-align: center
    }
.title_cell {
    display: table-cell;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 2em;
    padding-top: 0;
    text-align: inherit;
    vertical-align: top
    }
.title1 {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.title2 {
    display: block;
    font-family: sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.toc {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.toc1 {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-size: 1.25em;
    font-style: normal;
    font-weight: normal;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.5;
    margin-bottom: 0.75em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.toc2 {
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    display: block;
    font-family: sans-serif;
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    line-height: 1.5;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.tricks {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-family: sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    page-break-after: avoid;
    page-break-before: always;
    page-break-inside: avoid
    }

